[submodule "shared/rust/circuit_evaluate/deps/protos"]
	path = shared/rust/circuit_evaluate/deps/protos
	url = git@github.com:Interstellar-Network/protos.git
[submodule "shared/rust/circuit_evaluate/3rd_party/protobuf"]
	path = shared/rust/circuit_evaluate/3rd_party/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
