[submodule "shared/rust/deps/teaclave-sgx-sdk"]
	path = shared/rust/deps/teaclave-sgx-sdk
	url = https://github.com/apache/teaclave-sgx-sdk.git
[submodule "shared/rust/deps/wasmtime"]
	path = shared/rust/deps/wasmtime
	url = https://github.com/Interstellar-Network/wasmtime.git
[submodule "shared/rust/deps/integritee-worker"]
	path = shared/rust/deps/integritee-worker
	url = https://github.com/Interstellar-Network/integritee-worker.git
[submodule "shared/rust/deps/integritee-node"]
	path = shared/rust/deps/integritee-node
	url = https://github.com/Interstellar-Network/integritee-node.git
