<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- IMPORTANT https://github.com/gfx-rs/wgpu OpenGL support is only "best effort" -->
    <!-- but we DO NOT require Vulkan to avoid blocking installation on devices where Vulkan is not
    supported -->
    <!-- wgpu/bevy SHOULD fallback to OpenGL -->
    <!-- TODO which version to use -->
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />

</manifest>